# Meta WhatsApp API Credentials
WHATSAPP_API_TOKEN=EAAOISkhfQ7YBRSAyZB3flt3UCDWTNba4ZCiQdJ3pgfc2lNDjwHP9V0asamhWPXjSo1iQuZAZCmJgqjHNn8DZCbK0JdGuXqmrWewJM7VKF2BqryWdpqlZCFvM9V2xgFjPZAAh5kAkjt7fz6dfNURgCZB4Ry9jZAy4IRp368n9VP5oxTJGNzZBb1d3yAeQn9eN4NNveaiwZDZD
WHATSAPP_VERIFY_TOKEN=pass123
WHATSAPP_PHONE_NUMBER_ID=1080505178483186
WHATSAPP_API_VERSION=v25.0  
RESTAURANT_UPI_ID=kaviyakiruthi22@okhdfcbank
RESTAURANT_UPI_QR=https://i.ibb.co/GfBFHdNC/Google-Pay-QR.png

# MongoDB
MONGO_URI=mongodb+srv://KaviyaShanmugam:Kaviya123@cluster0.ujzcjba.mongodb.net/?appName=Cluster0

# Server
PORT=5000
NODE_ENV=development

# Restaurant Info
RESTAURANT_NAME=Kavi Chettinadu Restaurant
RESTAURANT_ADDRESS=14/12A1, Kattu pillaiyar Kovil Street, Hotel Arjuna Opposite, Rameswaram - 623526
RESTAURANT_PHONE=+91-9585960612
RESTAURANT_PHONE2=+91-9585960613
RESTAURANT_MAPS_LINK=https://maps.google.com/?q=Kavi+Chettinadu+Restaurant+Rameswaram
